@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'BebasRegular';
    src: url('font/BEBAS___-webfont.eot');
    src: url('font/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/BEBAS___-webfont.woff') format('woff'),
         url('font/BEBAS___-webfont.ttf') format('truetype'),
         url('font/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,body{
 font-family: 'BebasRegular';
	width:100%;
	height:100%;
}
.social{
    padding: 2% 2%;
}
.navigation{
	position:fixed;
	z-index:1;
	top:43%;
    left: 97%;
    width: 20px;
}
.navigation li{
	color:#333333;
	display:block;
	padding: 0 10px;
	line-height:30px;
	margin-bottom:2px;
	font-weight:bold;
	-webkit-transition: all .2s ease-in-out;
	/*border-bottom:1px solid black;*/
	text-align:left;
	width:53px;
}
.navigation li:hover,.active{
	font-size:25px;
	cursor:pointer;
	width:100px!important;
}
.envatologo{
position:fixed;
top:50%;
left:50%;
width:446px;
margin-top:-41px;
margin-left:-223px;
z-index:1;
}
.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}
.wrapper{
	width:960px;
	height:200px;
	margin:0 auto;
	position:relative;
}
.slideno{
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:100px;
	font-weight:bold;
	color:rgba(255,255,255,0.3);
}
.button{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	left:50%;
	background-color:#333333;
	background-image:url(../images/arrow.png);
}
.button:hover{
	background-color:#494949;
	cursor:pointer;
}

/******************************/
.menu{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}
.menu_up{
    height: 102px;
    position:fixed;
    background-color: #ffffff;
    margin: 0 auto;
    width:100%;
    z-index: 1;
}
.menu_up ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu_up ul li{
    float: left;
    /*border-right:1px solid #ffffff;*/
}
.menu_up ul li a{
    height:100px;
    text-decoration: none;
    color: #626262;
    font-weight: bold;
    text-transform: uppercase;

}
.menu_up ul li.logo{
    background-color: #f4f4f4;
}
.menu_up ul li.logo a img{
    margin: 30px 30px 22px 30px;
}
.menu_up ul li.pic{
    background-color: #f4f4f4;
    height: 100px;
}
.menu_up ul li.white{

    width: 10%;
    padding: 3px 20px 10px 20px;
}
.menu_up ul li.white1{
    width: 10%;
    /*padding: 10px;*/
    /*	background: url(main pge/icon_kupit.png) no-repeat center top;*/
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #f4f4f4;
    margin-top: 25px;
    text-align: center;
}
.menu_up ul li.white1 img{
    margin: 0 45%;
}
.menu_up ul li a img{
    margin: 0 10px ;
}
.redline{
    width: 100%;
    margin: 0 auto;
    background-color: #ff5757;
    height: 8px;
    margin: 10px 0 0 0;
}
.greenline{
    width:100%;
    margin: 0 auto;
    background-color: #4ced5f;
    height: 8px;
    margin: 10px 0 0 0;
}
/******************************/
.slide1_content{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 150px;
    text-align: right;
    background: url(../images/plusred.png) no-repeat right 100px;
    color:white;
}
.slide1_content p{
    text-transform:uppercase;
    font-size: 40px;
    font-weight: bold;
}
.slide1_content span{
    color: #ff5757;
    font-weight: bold;
}
/******************************
 SLIDE 1
*******************************/
#slide1{
	background-image:url('../images/top_bg_hair.jpg');
    background-size: cover;
}
/******************************
 SLIDE 2 
*******************************/
#slide2{
    background-image:url('../images/menu/paralaks_img_bg_1.png');
    background-size:  100%;
    /*background-size:  cover;*/
    font-family: Arial, Helvetica, sans-serif;
    min-height: 900px;
}

#slide2 .content p{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    /*padding: 10px 0;*/
    padding-top: 45px;
}
.pic1, .pic2, .pic3{
    width: 360px;
    min-height:150px;
    margin: 10px 0;
}
.pic1 p, .pic3 p{
    font-size:14px;
    text-align: right;
    margin-top:-10px;
}
.pic2 p{
    font-size:14px;
    text-align: left;
}
.pic1 span, .pic2 span, .pic3 span{
    color: #4ced5f;
    font-weight: bold;
}
.pic1{
    float: left;
    background: url(../images/menu/bist_dest_icon.png) no-repeat right top;
    text-align: right;
    padding: 0 100px 0 0;
    margin-top:0;
    width: 26%;
    margin-left: 22%;
}
.pic2{
    float: right;
    background: url(../images/menu/nat_ing_icon.png) no-repeat left center;
    text-align:left;
    padding: 0 0 0 100px ;
    width: 26%;
    margin-right: 22%;
}
.pic3{
    float: left;
    background: url(../images/menu/lech_ef_icon.png) no-repeat right center;
    text-align:right;
    padding: 0 100px 0 0;
    width: 26%;
    margin-left: 22%;
    /*-webkit-margin-left: 23%;*/
    /*-moz-margin-left: 23%;*/
}
.right_tov_main{
    background: url(../images/menu/produkt_img.png) no-repeat 80% bottom;
    background-attachment: scrolled;
    background-origin: initial;
    background-clip: initial;
    height: 800px;
    position:relative;
}
.greenpoint{
    /*background: url(../images/menu/greenpiont.jpg) repeat-y center ;*/
    margin: 0 auto;
    min-height: 450px;
}

#paralax_sl2{
    width: 100%;
    height: 954px;
    background: url(../images/menu/paralaks_img_bg_2.png) no-repeat center;
    background-size: cover;
}
#paralax_sl3{
    width: 100%;
    height: 1036px;
    background: url(../images/menu/paralaks_img_bg_3.png) no-repeat center;
    background-size: cover;
}
/******************************
 SLIDE 3 
*******************************/
/*******************************/
#slide3_1{
    width: 100%;
    height: 800px;
    background: url(../images/menu/3_slide_spiral_left.png) no-repeat top left;
    background-attachment: fixed;
}
#slide3_2{
    width: 100%;
    height: 800px;
    background: url(../images/menu/3_slide_spiral_right.png) no-repeat top right;
    /*	background-attachment: fixed;*/
    background-origin: initial;
    background-clip: initial;
    /*background-size: cover;*/
    /*background-position:100% 0;*/
    position:relative;
}
#slide3_3{
    width: 100%;
    height: 800px;
    background: url(../images/menu/slider4_front_grad.png) no-repeat bottom;
    background-size: 100%;
}


#slide3_1_v2{
    width: 100%;
    height: 800px;
    background: url(../images/menu/slider4_left.png) no-repeat bottom left;
    background-attachment: fixed
}
#slide3_2_v2{
    width: 100%;
    height: 800px;
    background: url(../images/menu/slider4_right.png) no-repeat top right;
    /*	background-attachment: fixed;*/
    background-origin: initial;
    background-clip: initial;
    /*background-size: cover;*/
    /*background-position:100% 0;*/
    position:relative;
}

/*******************************/
#slide3{
	/*background-color:#b6c10b;*/
    background-image:url('../images/menu/slider4_bg.png');
    /*height: 115%;*/
    background-size: cover;
}
/*#slide3 img:first-child{
	position:absolute;
top: 700px;
left: 300px;
}
#slide3 img:nth-child(2){
	position:absolute;
	top:100px;
	left:100px;
}
#slide3 img:nth-child(3){
	position:absolute;
	top:150px;
	left:300px;
}
#slide3 img:nth-child(4){
	position:absolute;
	top:450px;
	left:300px;
}
#slide3 img:nth-child(5){
	position:absolute;
	top:200px;
	right:300px;
}
#slide3 img:nth-child(6){
	position:absolute;
	top:100px;
	right:300px;
}*/
.tov_descr{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    margin-left:10%;
    padding: 40px 0;
}
.tov_descr p{
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    width: 50%;
}
.tov_descr ul{
    list-style: none;
    margin: 20px 0;
    padding: 0;
}
.tov_descr ul li{
    background: url("../images/menu/little.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    padding: 5px 20px;
}
.right_tov_main input{
    border: 1px solid #ff5757;
    color: #ff5757;
    cursor: pointer;
    height: 40px;
    text-transform: uppercase;
    width: 250px;
    font-weight: bold;
}
.right_tov_main2{
    background: url(../images/menu/slider4_produkt.png) no-repeat 80% bottom;
    background-attachment: scrolled;
    background-origin: initial;
    background-clip: initial;
    height: 800px;
    position:relative;

}
.right_tov_main2 input{
    border: 1px solid #4ced5f;
    color: #4ced5f;
    cursor: pointer;
    height: 40px;
    text-transform: uppercase;
    width: 250px;
    font-weight: bold;
}
/******************************
 SLIDE 4 
*******************************/

#slide4{
	background-image:url(../images/menu/slider5.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#slide4 .parallaxbg{
	position:absolute;
	right:40px;
	top:40px;
	font-size:28px;
	color:rgba(51,51,51,0.3);
}
.warum{
    padding-top: 60px !important;
}
.ask_center{
    width: 50%;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.ask_center p{
    font-size: 16px;
    color: #333333;
}
 p.frst{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
     padding: 75px 0 0;
}
.ask_center p.scnd{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 100;
}
.ask_center span{
    color: #fd5552;
    text-decoration: underline;
    margin:5px;
}
.slider-frm input{
    width: 60%;
    height: 30px;
    border: 1px solid #333333;
    margin: 5px;
    padding: 3px 10px;
}
.slider-frm textarea{
    width: 60%;
    height: 100px;
    border: 1px solid #333333;
    margin: 5px;
    padding: 3px 10px;
}
.slider-frm .btn{
    width: 63%;
    height: 30px;
    border: 1px solid #ff5253;
    margin: 5px;
    padding: 3px 10px;
    color:#ff5253;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.footer_gr{
    width: 100%;
    height: 150px;
    background-color: #eaeaea;
    position: relative;
}
.footer_bl{
    width: 100%;
    height: 100px;
    background-color: #333333;
    position:absolute;
}
.foot_980{
    width: 80%;
    margin: 0 auto;
}
.foot_bl_980{
    width: 80%;
    margin: 0 auto;
    color: #dfdfdf;
    text-transform: uppercase;
    height: 100px;
    line-height: 100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


.rel-text{
    position: relative;
    top:-20px;
}

/*slide2 vertical slider*/
.ss-container{
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
    overflow: hidden;
    margin-top:50px
    /*padding-bottom: 500px;*/
}
.ss-container:before{
    position: absolute;
    width: 4px;
    /*background: rgba(17,17,22,0.8);*/
    /*background: rgba(17,17,22,0.8);*/
    background: url(../images/menu/greenpiont.jpg) repeat-y center;
    top: 0px;
    left: 50%;
    margin-left: -2px;
    content: '';
    height: 90%;
}
.ss-row{
    width: 100%;
    clear: both;
    float: left;
    position: relative;
    /*padding: 30px 0;*/
}

.ss-left, .ss-right{
    float: left;
    /*width: 48%;*/
    position: relative;
}
.ss-right{
    padding-left: 2%;
}
.ss-left{
    text-align: right;
    float: left;
    padding-right: 2%;
}
.ss-container h2{
    font-size: 40px;
    text-transform: uppercase;
    color: rgba(78,84,123,0.2);
    text-shadow: 0px 1px 1px #fff;
    padding: 20px 0px;
}
.ss-container h3{
    margin-top: 34px;
    padding: 10px 15px;
    background: rgba(26, 27, 33, 0.6);
    text-shadow: 1px 1px 1px rgba(26, 27, 33, 0.8)
}

.ss-circle{
    border-radius: 50%;
    overflow: hidden;
    display: block;
    text-indent: -9000px;
    text-align: left;
    box-shadow:
    0px 2px 5px rgba(0,0,0,0.7) inset,
    0px 0px 0px 12px rgba(61,64,85,0.3);
    background-size: cover;
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-position: center center;
}

.ss-small .ss-circle{
    width: 100px;
    height: 100px;
}
.ss-medium .ss-circle{
    width: 200px;
    height: 200px;
}
.ss-large .ss-circle{
    width: 300px;
    height: 300px;
}
.ss-left .ss-circle{
    float: right;
    margin-right: 30%;
}
.ss-right .ss-circle{
    float: left;
    margin-left: 30%;
}

.ss-circle-deco:before{
    width: 29%;
    height: 0px;
    /*border-bottom: 5px dotted #ddd;*/
    /*border-bottom: 5px dotted rgba(17, 17, 22, 0.3);*/
    box-shadow: 0px 1px 1px #fff;
    position: absolute;
    top: 50%;
    content: '';
    margin-top: -3px;
}
.ss-left .ss-circle-deco:before{
    right: 2%;
}
.ss-right .ss-circle-deco:before{
    left: 2%;
}

.ss-circle-deco:after{
    width: 0px;
    height: 0px;
    /*border-top: 10px solid transparent;*/
    /*border-bottom: 10px solid transparent;*/
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.ss-left .ss-circle-deco:after{
    right: 0;
    /*border-right: 10px solid rgba(17,17,22,0.8);*/
}
.ss-right .ss-circle-deco:after{
    left: 0;
    /*border-left: 10px solid rgba(17,17,22,0.8);*/
}

.ss-container .ss-medium h3{
    margin-top: 82px;
}
.ss-container .ss-large h3{
    margin-top: 133px;
}
.ss-container .ss-left h3{
    /*border-right: 5px solid rgba(164,166,181,0.8);*/
}
.ss-container .ss-right h3{
    /*border-left: 5px solid rgba(164,166,181,0.8);*/
}

.ss-container h3 span{
    color: rgba(255,255,255,0.8);
    font-size: 13px;
    display: block;
    padding-bottom: 5px;
}
.ss-container h3 a{
    font-size: 28px;
    color: rgba(255,255,255,0.9);
    display: block;
}
.ss-container h3 a:hover{
    color: rgba(255,255,255,1);
}


/*end slider slide2*/